datafactory/pipeline/pl_proc_raw_to_silver_hardened.json
{
	"name": "pl_proc_raw_to_silver_hardened",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_raw_binary",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1_copy1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(item().name, 'coins_markets')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "df_bronze_to_silver_copy1",
										"type": "ExecuteDataFlow",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:20:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "df_bronze_to_silver",
												"type": "DataFlowReference"
											},
											"compute": {
												"coreCount": 8,
												"computeType": "General"
											},
											"traceLevel": "Fine",
											"runConcurrently": true
										}
									},
									{
										"name": "Copy data1_copy1",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "df_bronze_to_silver_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.00:20:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": "coins_markets/*/*/*/*",
													"wildcardFileName": "*.json.gz",
													"deleteFilesAfterCompletion": false
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings",
													"copyBehavior": "PreserveHierarchy",
													"metadata": [
														{
															"name": "copyraw",
															"value": "$$LASTMODIFIED"
														}
													]
												}
											},
											"enableStaging": false,
											"logSettings": {
												"enableCopyActivityLog": true,
												"copyActivityLogSettings": {
													"logLevel": "Info",
													"enableReliableLogging": false
												},
												"logLocationSettings": {
													"linkedServiceName": {
														"referenceName": "ls_crypopipestoorage",
														"type": "LinkedServiceReference"
													},
													"path": "logger/raw_copy_logs"
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_raw_binary",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ds_archive_coins",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Copy data3_copy1",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "df_bronze_to_silver_copy1",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": "coins_markets/*/*/*/*",
													"wildcardFileName": "*.jsonl.gz",
													"deleteFilesAfterCompletion": false
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings",
													"copyBehavior": "PreserveHierarchy"
												}
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": true,
											"logSettings": {
												"enableCopyActivityLog": true,
												"copyActivityLogSettings": {
													"logLevel": "Info",
													"enableReliableLogging": false
												},
												"logLocationSettings": {
													"linkedServiceName": {
														"referenceName": "ls_crypopipestoorage",
														"type": "LinkedServiceReference"
													},
													"path": "logger/raw_error_logs"
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_raw_binary",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ds_deadletter_binary",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Copy data4_copy1",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Copy data1_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": "**/*",
													"wildcardFileName": "*.parquet",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings",
													"copyBehavior": "FlattenHierarchy"
												},
												"formatSettings": {
													"type": "JsonWriteSettings",
													"filePattern": "setOfObjects"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_deadletter_json",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ds_metadata",
												"type": "DatasetReference",
												"parameters": {
													"fileName": "@concat('metadata_', item().name, '_', pipeline().RunId, '.json')"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"annotations": []
	}
}